@font-face {
    font-family: text-blocks;
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    background-color: rgb(200, 200, 255);
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

#scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgb(26, 24, 73);
}

.title {
    margin: 0;
    padding: 0;
}

button {
    font-family: text-blocks;
}

.scores-btn {
    display: block;
    margin: 10px auto;
    padding: 15px 50px 0 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: rgb(241, 31, 66);
    font-size: 80px;
}

.add-scores-btn {
    color: white;
    font-size: 15px;
    background-color: inherit;
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.section {
    margin: 0 20px;
}